<html>
<head>
<link rel='stylesheet' href='../pages/style.css'>
<meta charset="UTF-8">
<title>Aware Company</title>
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
</style>

<body style="background-image: url(../img/header.jpg); background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px gray; text-align: center; line-height: 1.8;">
    <a href="../pages/login.html" target="conteudo">Home</a><br>
    <a href="../pages/about.html" target="conteudo">Sobre a Empresa</a><br>
    <a href="../pages/list.html" target="conteudo">Lista de Funcionários</a><br>
    <a href="../pages/register.html" target="conteudo">Cadastro</a><br>
    <a href="../pages/support.html" target="conteudo">Suporte</a><br>
    </div>
</body>
</html>



